@media screen and (max-width: 475) {
    .result{
        background-color: #e9ecef;
        color: black;
        width: 10px;
        border: none;
    }
    .result:hover {
        background-color: #ecb01d;
        color: white;
    }
  
   .glassy-text {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    color: #333;
    font-family: system-ui, sans-serif;
    /* line-height: 1.5; */
    max-width: 100%;
    /* padding: 1rem 2rem; */
    transform: translateY(100px);
    width: 360px;
    height: 360px;
  }
  
}