* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    transform: translateY(180px);
    width: 360px;
    height: 330px;
}
.grad {
    text-decoration: underline;
    text-align: center;
    color: blue;
}

.system {
    margin-top: 20px;
}
.result{
    background-color: #e9ecef;
    color: black;
    border: none;
}
.result:hover {
    background-color: blue;
    color: white;
}
 #show {
    background-color: #e9ecef;
    color: black;
    border: none;
    width: 170px;
 }
 #show:hover {
    background-color: blue;
    color: white;
 }

.welcome {
    padding-top: 30px;
    padding-left: 17px;
    color: blue;
}

.glassy-text {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    color: #333;
    font-family: system-ui, sans-serif;
    /* line-height: 1.5; */
    max-width: 100%;
    /* padding: 1rem 2rem; */
    transform: translateY(100px);
    width: 360px;
    height: 330px;
  }
  
   @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .glassy-text {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.5);
    }
  } 
  body {
    background-image: url(images/istockphoto-497906504-612x612.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
  }
/* .one {
    background-color: white;
    position: absolute;
    opacity: 0.3;
    
    margin-left: 20px;
    animation: one 5s infinite linear;
}
@keyframes one {
    0%{
        transform: translateY(300px );
    }
    100%{
        transform: translateY(-100px);
    }
}

.two {
    background-color: white;
    position: absolute;
    opacity: 0.3;
   
    margin-left: 600px;
    animation: two 6s infinite linear;
}
@keyframes two {
    0%{
        transform: translateY(350px );
    }
    100%{
        transform: translateY(-100px);
    }
}

 .three {
    background-color: white;
    position: absolute;
    opacity: 0.3;
   z-index: 0.5;
    margin-left: 200px;
    animation: three 9s infinite linear;
}
@keyframes three {
    0%{
        transform: translateY(300px );
    }
    100%{
        transform: translateY(-100px);
    }
}

.four {
    background-color: white;
    position: absolute;
    opacity: 0.3; 
    z-index: 0.5;
 
    margin-left: 700px;
    animation: four 7s infinite linear;
}
@keyframes four {
    0%{
        transform: translateY(300px );
    }
    100%{
        transform: translateY(-100px);
    }
} 

.five {
    background-color: white;
    position: absolute;
    opacity: 0.3;
 
    margin-left: 900px;
    animation: five 7s infinite linear;
}
@keyframes five {
    0%{
        transform: translateY(300px );
    }
    100%{
        transform: translateY(-100px);
    }
} 
.six {
    background-color: white;
    position: absolute;
    opacity: 0.3;
 
    margin-left: 1000px;
    animation: six 7s infinite linear;
}
@keyframes six {
    0%{
        transform: translateY(300px );
    }
    100%{
        transform: translateY(-100px);
    }
} 
.seven {
    background-color: white;
    position: absolute;
    opacity: 0.3;
    z-index: 0.5;
    margin-left: 10px;
    animation: seven 7s infinite linear;
}
@keyframes seven {
    0%{
        transform: translateY(300px );
    }
    100%{
        transform: translateY(-100px);
    }
} 
.eigth {
    background-color: white;
    position: absolute;
    
 
    margin-left: 400px;
    animation: eigth 7s infinite linear;
}
@keyframes eigth {
    0%{
        transform: translateY(300px );
    }
    100%{
        transform: translateY(-100px);
    }
}  */